.about-us{
    font-family: 'Robot', sans-serif;
    padding: 80px 0px;
}
.container-about-us{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.flex{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 20px;
}
.flex1{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 20px;
}
.about-us h2{
    font-size: 45px;
    margin-bottom: 20px;
    color: #333;
}
.about-us p{
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 20px;
}
.about-us img{
    display: block;
     max-width: 350px; 
    height: 400px;
    margin: 0 auto;
   /*  clip: rect(0px,530px,360px,0px);  */
}

.chatbtn{
    width: 100px;
   margin-top:10px;
   margin-left: 10px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #333;
    transition: all 0.4s ease;
}
.chatbtn:hover{
    transform: translate(-3px);
}
@media screen and (max-width:768px) {
    .row{
        flex-direction: column;
    }
    .flex{
        max-width: 100%;
    }
    .flex1{
        margin-left: 25%;
    }
    .about-us h2{
        font-size: 31px;
    }
    .about-us p{
        font-size: 16px;
    }
    .chatbtn{
        font-size: 16px;
        padding: 8px 16px;
        margin-top: 40px;
        margin-left: 43%;
    }
    
}
 @media screen and (max-width:425px) {
    .chatbtn{
        margin-left: 39%;
    }
   .flex1 img{
    width: 200px;
    height: 230px;
   }
}
@media screen and (max-width:375px) {
    .chatbtn{
        margin-left: 33%;
    }
    .flex1{
        margin-left: 15%;
    }
}  
@media screen and (max-width:320px) {
    .chatbtn{
        margin-left: 30%;
    }
    .flex1{
        margin-left: 10%;
    }
}  