.aboutmain{
    width: 85%;
    height: 100%;
    background-color: #161922;
    display: flex;
    justify-content: center;
    align-items: center;
     margin-bottom: 20px; 
     margin-top: 20px;
     margin-left: 8%;
     border-radius: 5px;
}
.imgmainabout{
    
    height: 450px;
    width: 450px;
   /*  max-width: 100%; */
   /*  margin-top: -10px; */
    margin-bottom: -1px;
    padding: 50px;
 /*    padding: 50px 120px 50px 50px; */
    border-radius:90px;
     border-radius: 70px; 
    
}

.abouttext{
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
    margin-top: 10px;
}
.aboutcontent{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.abouttext h1{
    color: #ffcc74;
    font-size: 60px;
    margin-bottom: 20px;
    text-transform: capitalize;
    margin-top: -10px;
}
.abouttext h5{
    color: white;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.abouttext p{
    color: #c0c4d6;
    font-size: 5rem;
   /*  line-height: 50px; */
   /*  letter-spacing: 1px; */
    margin-bottom: 45px;
    background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
/*   background-size: auto auto;
  background-clip: border-box; */
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
/*   text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
    /*   font-size: 190px; */
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.chatbth{
    background-color: #ffcc74;
    color: black;
    border: 2px solid transparent;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}
.chatbth  :hover{
    transform: scale(1.2);
    background-color: transparent;
    border: 2px solid #ffcc74;
    color: #ffcc74;
    transition: .4s;
    cursor: pointer;
}
.founder2{
    color: #c0c4d6;
    font-size: 3.5rem;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
}
.founder3{
    color: #c0c4d6;
    font-size: 3rem;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
}
@media screen and (max-width:1180px) {
    .aboutmain{
        width: 80%;
        height: auto;
         padding: 10px 0px;
         margin-left: 10%; 
    }
    .chatbth{
        margin-left: 40%;
    }
   /*  button{
        margin-left: ;
    } */
  
}
  @media screen and (max-width:450px) {
  
  .imgmainabout{
    height: 350px;
    width: 350px;
   
  }
 
  .founder2{
    color: #c0c4d6;
    font-size: 2rem;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
}
.founder3{
    color: #c0c4d6;
    font-size: 2rem;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
}
.abouttext p{
    color: #c0c4d6;
    font-size: 4rem;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
}
 
}
@media screen and (max-width:375px) {
 .chatbth{
    margin-left: 25%;
 }
  
}
@media screen and (max-width:350px) {

    .imgmainabout{
      height: 320px;
      width: 320px;
     
    }
   
    .founder2{
      color: #c0c4d6;
      font-size: 2rem;
      line-height: 28px;
      letter-spacing: 1px;
      margin-bottom: 45px;
  }
  .founder3{
      color: #c0c4d6;
      font-size: 2rem;
      line-height: 28px;
      letter-spacing: 1px;
      margin-bottom: 45px;
  }
  .abouttext p{
      color: #c0c4d6;
      font-size: 3.5rem;
      line-height: 28px;
      letter-spacing: 1px;
      margin-bottom: 45px;
  }
   
  }